@import url("bootstrap-icons.css");
@font-face {
    font-family: 'ysfont';
    /* src: url(../fonts/zh-cn.ttf); */
    src: url(http://47.115.207.37:81/d/Onedrive/file/zh-cn.ttf);
}
* {
    font-family: "ysfont";
    font-weight: lighter;
}